.toods_single{
display: flex;
width:29.5%;
border-radius: 5px;
padding: 20px;
margin-top: 15px;
background-color: bisque;
flex-wrap: wrap;
}
.todos_single--text{
    flex:1;
  
}
/* .todos_single--text:focus{
    outline:none;
} */
input:focus{
    border: 0px solid;
    outline:none;
}

.icon{
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer; 
}

/* for desktop size */
@media screen and (min-width:1024px){
    .toods_single {
        width: 29.5%;
      }
}
  

/* for tablet size */
@media screen and (min-width:768px) and (max-width:1023px){
    .toods_single {
        width: 40%;
      }
} 
/* for smartphone size */
@media screen and (max-width:767px){
    .toods_single {
        width: 100%;
      }
}